.breadcrumbs {
  margin-bottom: 20px;
  border: 1px solid #f4f4f4;
  background: $white_blue;
  @include border-radius(5px);
  padding: 20px;
}

.breadcrumbs li {
  list-style: none;
  display: inline-block;
  i {
    margin-right: 5px;
  }
}

.breadcrumbs li:not(:last-child):after {
  content: '>';
  margin: 0 8px 0 13px;
}

@media (min-width: 1200px) {
  .breadcrumbs {
  }
}

.breadcrumbs_left {
  padding-left: 35px !important;
  padding-right: 20px;
  max-width: 1366px;
  margin: 0 auto;
}
